body {
    padding-top: 150px;
    padding-bottom: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.2;
    color: #333;
    background-color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#mainMap {
  height: 500px;   
}

#userMenu{
  text-align: right;
}

.signature{
  text-align: right;
}

.Yes{
  color: green;
}

.Maybe{
  color: orange;
}

.No{
  color: red;
}
